body {
    background-color: rgb(176, 164, 164);
    /* overflow-y: hidden;  */
    cursor: url(./assets/paw-cursor\ icon.png), auto;
}

.answers{
    height: 125px;
    width: 125px;
}

#answerdiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#question{
    text-align: center;
}

.column {
    float: left;
    width: 50%;

}
.curtains {
    width: 30%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    height: 100%;
}

#rightcurtain {
    float: right;
}

#dogAudiences {
    position: fixed;
    left: 0;
    bottom: 0;
    display: block;
    text-align: center;
    width: 100%;
}

#main {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
}​

#postercard {
    height: 40%;
    width: 30%;
}
#posters {
    height: 350px;
    width: 300px;
}

#previousNext {
    position: static;
    float: right;
    bottom: 30%;
}

#answerdiv .img-thumbnail {
    height: 125px;
    width: 125px;
}

#qanda {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
}